<div class="fm-signup fm-auth-container">
  <h1 class="fm-title">Complete Your Profile</h1>
  <p class="fm-subtitle">Fill the following fields:</p>
  <br><br>
  <div class="container-fluid p-0">
      <div class="row">
          <div class="col-lg-6">
              <label for="firstname">Firstname</label>
              <input type="text" name="firstname" id="firstname" placeholder="e.g John or Jane" [ngModel]="firstname"
                  (ngModelChange)="onNameChange($event, true)" required>
          </div>
          <div class="col-lg-6">
              <label for="lastname">Lastname</label>
              <input type="text" name="lastname" id="lastname" placeholder="e.g Smith" [ngModel]="lastname"
                  (ngModelChange)="onNameChange($event, false)" required>
          </div>
      </div>
  </div>
  <br><br>
  <button [disabled]="!firstname || !lastname" (click)="updateProfile()" class="fm-auth-button" 
    [ngClass]="authStarted ? 'fm-process-button' : ''">Submit</button>
  <br><br>
  <p class="fm-subtitle">Already have an account? Login</p>
  <app-notifications [notification]="notification" [show]="showNotification"
  (showEmitter)="showNotification = $event"></app-notifications>
</div>