<div class="fm-login fm-auth-container">
  <h1 class="fm-title">Sign in to your Account</h1>
  <p class="fm-subtitle">Gain access to more content when you sign in.</p>
  <br><br>
  <app-email-password (emailEmitter)="setEmail($event)" (passwordEmitter)="setPassword($event)"></app-email-password>
  <div class="fm-auth-buttons d-flex justify-content-between">
    <button [disabled]="!email || !password" (click)="login()" class="fm-auth-button">Submit</button>
    <button routerLink="/account/reset" class="fm-auth-button">Reset Password</button>
  </div>
  <app-notifications [notification]="notification" [show]="showNotification"
    (showEmitter)="showNotification = $event"></app-notifications>
  <br>
  <a class="small-link" routerLink="/account/signup">
    Don't have an account? Create a new one!</a>
</div>