details {
  background-color: var(--fm-toc-background-color);
  border: 1px solid transparent;
}

details > * {
  border: 1px solid transparent;
}

details[open] {
  background-color: var(--fm-toc-item-selected-background-color);
  transition: background-color 200ms ease-in;
}

details[open], details[open] > * {
  border: 1px solid var(--fm-accent-color);
  transition: border 500ms linear, height 200ms linear;
}

details:hover {
  background-color: var(--fm-primary-color-light);
  border: 1px solid var(--fm-primary-color-contrast);
}

summary.active {
  background-color: var(--fm-primary-color-contrast);
  color: white;
  border-color: var(--fm-accent-color);
}

summary {
  min-height: var(--fm-item-height);
  border: 1px solid transparent;
}

summary > .container-fluid, summary .row {
  min-height: inherit;
}

summary, li {
  list-style: none;
  /* height: 48px;
  line-height: 48px; */
  vertical-align: middle;
}

p {
  padding: var(--fm-default-padding) 0px;
  font-size: inherit;
  color: inherit;
}

i {
  font-size: 16px;
}

summary.active .fm-toc-item-number {
  border-color: var(--fm-primary-color-light);
  background-color: var(--fm-accent-color);
}

.fm-toc-item-number {
  border: 1px solid var(--fm-primary-color-contrast);
  padding: 2px 8px;
  font-family: 'Jost', sans-serif;
}
