details {
  background-color: var(--fm-toc-background-color);
}

summary {
  min-height: var(--fm-item-height);
}

summary > .container-fluid, summary .row {
  min-height: inherit;
}

summary, li {
  list-style: none;
  /* height: 48px;
  line-height: 48px; */
  vertical-align: middle;
}

li {
  padding: var(--fm-default-padding);
}

i {
  font-size: 16px;
}

.fm-toc-item-number {
  border: 2px solid var(--fm-primary-color-contrast);
  padding: 2px 8px;
}
