img.fm-splash-image {
  /* animation: animateBlur 5s linear 500ms infinite alternate; */
    filter: blur(3px) grayscale(0.5);
    -webkit-filter: blur(3px) grayscale(0.5);
}

.fm-splash {
  position: relative;
}

.fm-splash-hero {
  position: absolute;
  /* height: 50vmax; */
  top: 135px; right: 0; left: 0;
  margin: auto;
  width: 100%;
}

.fm-splash-icon {
  background-color: var(--fm-primary-color-light);
  box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.2);
}

h1.fm-header {
  font-size: 18px;
}

@keyframes animateBlur {
  from {
    filter: blur(0px) grayscale(0);
    -webkit-filter: blur(0px) grayscale(0);
  }

  to {
    filter: blur(3px) grayscale(0.5);
    -webkit-filter: blur(3px) grayscale(0.5);
  }
}