:root {
  --fm-primary-color: #4b7fbc;
  --fm-primary-color-light: #e7e5f3;
  --fm-primary-color-contrast: #173760;
  --fm-accent-color: #ed1c24;
  --fm-toolbar-color: #e7e5f3;
  --fm-background-color: rgb(250, 250, 250);
  --fm-color-contrast: black;
  --fm-icon-color-contrast: white;
  --fm-toc-background-color: rgb(243, 244, 244);
  --fm-item-height: 64px;
}

body {
  background-color: var(--fm-background-color);
}

h1, h2, h3, h4, h5, h6, label, button {
  font-family: 'Jost', Arial, Helvetica, sans-serif;
  font-weight: 900;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

i {
  width: 1em;
  height: 1em;
}

.fm-left-sidebar {
  background-color: var(--fm-background-color);
}
