<div class="fm-details-shadow">
  <div class="container-fluid p-0">
    <div class="row g-0 justify-content-center align-items-center">
      <div class="col-2 col-lg-1 p-2">
        <img src="../../assets/uch_logo.png" alt="University College Hospital, Ibadan logo" class="img-fluid">
      </div>
      <div class="col-8 col-lg-10 text-center">
        <h1 class="fm-project-header">Department of Family Medicine</h1>
        <h1 class="fm-project-header text-uppercase">Postgraduate Handbook</h1>
      </div>
      <div class="col-2 col-lg-1 p-2">
        <img src="../../assets/logo.png" alt="Department of Family Medicine, University College Hospital, Ibadan logo" class="img-fluid">
      </div>
    </div>
  </div>
  <hr class="m-0">
  <div class="fm-details">
    <h2 class="fm-title">{{ item.heading }}</h2>
    <p class="fm-subtitle pt-1">{{item.author}}</p>
    <div class="fm-heading-divider"></div>
    <div class="fm-body">
      <!-- insert elements here -->
      <div class="fm-body-content" *ngFor="let itemContent of item.content">
        <app-metatype [item]="itemContent"></app-metatype>
      </div>
    </div>
  </div>
</div>
<div class="fm-details-nav">
  <div class="container-fluid p-0">
    <div class="row g-0">
      <div class="col-4 col-md-3 col-lg-2">
        <button class="w-100" [disabled]="index === 0" (click)="switchSection(index - 1)">Previous</button>
      </div>
      <div class="offset-4 col-4 offset-md-6 col-md-3 offset-lg-8 col-lg-2">
        <button class="w-100" [disabled]="index >= handbook.length - 1"
          (click)="switchSection(index + 1)">Next</button>
      </div>
    </div>
  </div>
</div>