.fm-details-shadow {
  box-shadow: -8px 0 4px 0px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.fm-details {
  padding: var(--fm-small-padding);
}

.fm-body {
  margin-top: var(--fm-default-padding);
}

p.fm-body-text {
  margin-bottom: var(--fm-default-padding);
}

@media only screen and (min-width: 768px) {
  .fm-details {
    padding: var(--fm-large-padding);
  }
}