<div class="fm-metatype fm-paragraph-container" *ngIf="item.metatype === 'paragraph'">
  <p *ngFor="let text of itemAsStrings()" class="fm-body-text">
    <app-metatext [paragraph]="text"></app-metatext>
  </p>
</div>
<div class="fm-metatype fm-paragraph-container" *ngIf="item.metatype === 'author'">
  <hr />
  <p *ngFor="let text of itemAsStrings()" class="fm-body-text">
    {{ text }}
  </p>
</div>
<div class="fm-metatype fm-subheading-container" *ngIf="item.metatype === 'subheading'">
  <h2 class="fm-header" *ngFor="let subheading of itemAsStrings()">{{subheading}}</h2>
</div>
<div class="fm-metatype fm-h3-container" *ngIf="item.metatype === 'h3' || item.metatype === 'title'">
  <h3 class="fm-header" *ngFor="let h3 of itemAsStrings()">{{h3}}</h3>
</div>
<div class="fm-metatype fm-leading-container" *ngIf="item.metatype === 'leading'">
  <p class="fm-list-leading" *ngFor="let leading of itemAsStrings()">{{ leading }}</p>
</div>
<div class="fm-metatype fm-image-container" *ngIf="item.metatype === 'image'"
  [ngStyle]='{ "background": "url({{ `../..${imageItemAsStrings(0)[0]}` }})" }'>
  <!-- {{imageItemAsStrings(0)[0]}} -->
  <div class="container-fluid p-0">
    <div class="row justify-content-center">
      <div *ngFor="let img of imageItemAsStrings(0), index as i" class="col-lg-6 mb-3 fm-image-bg">
        <div class="text-center fm-image-group">
          <img src="../..{{img}}" alt="{{imageItemAsStrings(1)[0]}}">
          <div class="fm-caption-container">
            <p class="fm-caption">{{ imageItemAsStrings(1)[0] }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ul class="fm-metatype fm-list-items-container" *ngIf="item.metatype === 'ul'">
  <li class="fm-list-li" *ngFor="let listItem of itemAsStrings()">{{ listItem }}</li>
</ul>
<ol class="fm-metatype fm-list-items-container" *ngIf="item.metatype === 'ol'">
  <li class="fm-list-li" *ngFor="let listItem of itemAsStrings()">{{ listItem }}</li>
</ol>
<div class="fm-metatype fm-list-container" *ngIf="item.metatype === 'list'">
  <app-metatype *ngFor="let itemContent of itemAsSectionItems()" [item]="itemContent"></app-metatype>
</div>
<div class="fm-metatype fm-metatype-project" *ngIf="item.metatype === 'project' || item.metatype === 'group'">
  <app-metatype *ngFor="let itemContent of itemAsSectionItems()" [item]="itemContent"></app-metatype>
</div>
<div class="fm-metatype fm-section-container container-fluid p-0" *ngIf="item.metatype === 'projects' || item.metatype === 'groups'">
  <!-- <hr /> -->
  <div class="row">
    <div class="col-md-6 col-xl-4" *ngFor="let sectionItem of itemAsSectionItems()">
      <app-metatype [item]="sectionItem"></app-metatype>
    </div>
  </div>
  <!-- <hr /> -->
</div>
<div class="fm-metatype fm-section-container" *ngIf="item.metatype === 'section'">
  <hr />
  <app-metatype *ngFor="let sectionItem of itemAsSectionItems()" [item]="sectionItem"></app-metatype>
  <!-- <hr /> -->
</div>