p.fm-body-text, ol, ul {
  margin-bottom: var(--fm-default-padding);
}

.fm-paragraph-container {
  padding-bottom: var(--fm-default-padding);
}

hr {
  margin: var(--fm-large-padding) 0px;
  color: var(--fm-primary-color);
}

li {
  margin: 8px;
}

img {
  width: 100%;
  height: auto;
}

.fm-image-container {
  margin: var(--fm-large-padding) 0px;
  background-size: cover;
}

.fm-image-bg {
  background-color: transparent;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.fm-image-group {
  /* width: 60%; */
  height: 100%;
  border: 2px solid var(--fm-primary-color);
  background-color: var(--fm-primary-color-light);
}

.fm-image-item {
  height: 30vh;
  overflow: hidden;
}

.fm-caption {
  padding: var(--fm-default-padding);
  text-align: left;
  font-size: 13px;
}

.fm-subheading-container > .fm-header {
  margin-top: var(--fm-large-padding);
}

.fm-metatype-project {
  height: 100%;
  padding: var(--fm-default-padding);
  background-color: var(--fm-primary-color-light);
  border: 1px solid var(--fm-primary-color);
}

.fm-projects-container {
  margin: var(--fm-default-padding) 0px;
}

.fm-metatype-project div.fm-metatype {
  padding: 4px 0;
  margin: 4px 0;
}

.fm-metatype-project p {
  font-size: 16px;
  padding: 0;
  margin: 0;
  /* font-weight: 700; */
}

.fm-metatype-project h3 {
  color: var(--fm-primary-color-contrast);
}

.fm-metatype-project .fm-heading-divider {
  background-color: var(--fm-accent-color);
  height: 2px;
  padding: 0;
  margin: 0;
}

.fm-heading-divider {
  background-color: var(--fm-accent-color);
}

.fm-avatar-container {
  height: 100%;
  background-color: var(--fm-primary-color-light);
  border: 2px solid var(--fm-primary-color);
}

.fm-avatar-col {
  margin: var(--fm-default-padding) 0;
}

.fm-avatar-details {
  padding: var(--fm-default-padding)
}

.fm-avatar-header {
  font-size: 21px;
}

a {
  word-wrap: break-word;
}
