<div class="fm-metatype fm-paragraph-container" *ngIf="item.metatype === 'paragraph'">
  <p *ngFor="let text of itemAsStrings()" class="fm-body-text">
    <app-metatext [paragraph]="text"></app-metatext>
  </p>
</div>
<div class="fm-metatype fm-paragraph-container" *ngIf="item.metatype === 'author' || item.metatype === 'date'">
  <p *ngFor="let text of itemAsStrings()" class="fm-body-text">
    {{ text }}
  </p>
</div>
<div class="fm-metatype fm-subheading-container" *ngIf="item.metatype === 'subheading'">
  <h2 class="fm-header" *ngFor="let subheading of itemAsStrings()" id="{{getSubheadingId(subheading)}}">{{subheading}}
  </h2>
</div>
<div class="fm-metatype fm-h3-container" *ngIf="item.metatype === 'h3' || item.metatype === 'title'">
  <h3 class="fm-header" *ngFor="let h3 of itemAsStrings()">{{h3}}</h3>
</div>
<div class="fm-metatype fm-leading-container" *ngIf="item.metatype === 'leading'">
  <p class="fm-list-leading" *ngFor="let leading of itemAsStrings()">
    <app-metatext [paragraph]="leading"></app-metatext>
  </p>
</div>
<div class="fm-metatype fm-image-container" *ngIf="item.metatype === 'image'"
  [ngStyle]='{ "background": "url({{ `../..${imageItemAsStrings(0)[0]}` }})" }'>
  <!-- {{imageItemAsStrings(0)[0]}} -->
  <div class="container-fluid p-0">
    <div class="row justify-content-center">
      <div *ngFor="let img of imageItemAsStrings(0), index as i" class="col-lg-6 mb-3 fm-image-bg">
        <div class="text-center fm-image-group">
          <img src="../..{{img}}"
            alt="{{imageItemAsStrings(1)[i] ? imageItemAsStrings(1)[i] : imageItemAsStrings(1)[0]}}">
          <div class="fm-caption-container">
            <p class="fm-caption">{{ imageItemAsStrings(1)[i] ? imageItemAsStrings(1)[i] : imageItemAsStrings(1)[0] }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fm-metatype fm-image-container" *ngIf="item.metatype === 'appendices'"
  [ngStyle]='{ "background": "url({{ `../..${imageItemAsStrings(0)[0]}` }})" }'>
  <!-- {{imageItemAsStrings(0)[0]}} -->
  <div class="container-fluid p-0">
    <div class="row justify-content-center">
      <div *ngFor="let appendix of itemAsMetatype(), index as i" class="col-md-6 col-lg-4 mb-3 fm-image-bg">
        <div class="text-center fm-image-group" *ngFor="let img of appendixImageAsStrings(appendix, 0)">
          <div class="fm-image-item">
            <img src="../..{{img}}"
            alt="{{appendixImageAsStrings(appendix, 1)[i] ? appendixImageAsStrings(appendix, 1)[i] : appendixImageAsStrings(appendix, 1)[0]}}">
          </div>
          <div class="fm-caption-container">
            <a href="../..{{appendixImageAsStrings(appendix, 2)}}" target="_blank">
              <p class="fm-caption">{{ appendixImageAsStrings(appendix, 1)[i] ? appendixImageAsStrings(appendix, 1)[i] : appendixImageAsStrings(appendix, 1)[0] }}
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid p-0 fm-metatype fm-banner" *ngIf="item.metatype === 'banner'">
  <div class="row">
    <div class="offset-lg-1 col-lg-10">
      <div class="text-center fm-image-group">
        <img src="../..{{itemAsSectionItems()[0].content[0]}}" alt="{{itemAsSectionItems()[1].content[0]}}">
        <div class="fm-caption-container">
          <p class="fm-caption">{{ itemAsSectionItems()[1].content[0] }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<ul class="fm-metatype fm-list-items-container" *ngIf="item.metatype === 'ul'">
  <li class="fm-list-li" *ngFor="let listItem of itemAsStrings()"><app-metatext [paragraph]="listItem"></app-metatext>
  </li>
</ul>
<ol class="fm-metatype fm-list-items-container" *ngIf="item.metatype === 'ol'">
  <li class="fm-list-li" *ngFor="let listItem of itemAsStrings()"><app-metatext [paragraph]="listItem"></app-metatext>
  </li>
</ol>
<div class="fm-metatype fm-list-container" *ngIf="item.metatype === 'list'">
  <app-metatype *ngFor="let itemContent of itemAsSectionItems()" [item]="itemContent"></app-metatype>
</div>
<div class="fm-metatype fm-metatype-project" *ngIf="item.metatype === 'project' || item.metatype === 'group'">
  <div *ngFor="let itemContent of itemAsSectionItems(), index as i">
    <app-metatype [item]="itemContent"></app-metatype>
    <div class="fm-heading-divider" *ngIf="i == 0"></div>
  </div>
</div>
<div class="fm-metatype fm-section-container container-fluid p-0"
  *ngIf="item.metatype === 'projects' || item.metatype === 'groups'">
  <!-- <hr /> -->
  <div class="row">
    <div class="col-md-6 col-xl-4 fm-projects-container" *ngFor="let sectionItem of itemAsSectionItems()">
      <app-metatype [item]="sectionItem"></app-metatype>
    </div>
  </div>
  <!-- <hr /> -->
</div>
<div class="fm-metatype fm-section-container" *ngIf="item.metatype === 'section'">
  <hr />
  <app-metatype *ngFor="let sectionItem of itemAsSectionItems()" [item]="sectionItem"></app-metatype>
  <!-- <hr /> -->
</div>
<div class="fm-metatype fm-avatar-container" *ngIf="item.metatype === 'avatar'">
  <img src="../..{{item.content[0]}}" alt="{{item.content[1]}}" class="img-fluid">
  <div class="fm-metatype fm-avatar-details">
    <h3 class="fm-header fm-avatar-header">{{item.content[1]}}</h3>
    <div class="fm-heading-divider"></div>
    <a href="tel:+234{{item.content[2]}}" class="fm-avatar-details-phonenumber d-block">{{item.content[2]}}</a>
    <a href="mailto:{{item.content[3]}}" class="fm-avatar-details-email d-block">{{item.content[3]}}</a>
  </div>
</div>
<div class="fm-metatype fm-avatars-container" *ngIf="item.metatype === 'avatars'">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-md-6 col-lg-6 col-xl-4 fm-avatar-col" *ngFor="let avatar of itemAsSectionItems()">
        <app-metatype [item]="avatar"></app-metatype>
      </div>
    </div>
  </div>
</div>